<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="active" value="false"/>
		<add key="queueRescanTimeMS" value="10000"/>
		<add key="queueDir" value="C:\DATA\HotFolderPrinter\queue"/>
		<add key="processedDir" value="C:\DATA\HotFolderPrinter\processed"/>
		<add key="selectedPrinter" value="Microsoft Print to PDF"/>
		<add key="foxitPdfReaderExecutable" value="C:\Program Files (x86)\Foxit Software\Foxit PDF Reader\FoxitPDFReader.exe"/>
		<add key="logFile" value="C:\DATA\HotFolderPrinter\log.txt" />
	</appSettings>
</configuration>
